.title{
    border: 50px;
    font-size: 20px;
    border-radius: 50px;
    background-color: aqua;
    text-align:center ;
    border: 5px solid green;
}

.text{
    color: red;
}
.text.{
    color: green;
}
.sarvar{
    background-color: yellow;
}
.sar{
    background-color: yellow;
}
sarvar{
    background-color: yellow;
}
im